DB_HOST=db
DB_NAME=camagru
DB_USER=camagru
DB_PASS=1
DB_ROOT_PASSWORD=rootpassword

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=camagru01.app@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM=camagru01.app@gmail.com
MAIL_FROM_NAME=Camagru
MAIL_ENCRYPTION=tls


APP_ENV=development